.tableContainer {
  overflow-x: auto;
  max-height: 600px;
  overflow-y: auto;
  border: 1px solid rgba(6, 173, 247, 0.32);
  border-radius: 50px;
  margin: 0 auto;
  max-width: 978px;
  padding: 28px 17px;
}

.tableContainer::-webkit-scrollbar {
  width: 3px;
}

.tableContainer::-webkit-scrollbar-track {
  background: transparent;
}

.tableContainer::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 1);
}

.table {
  width: 100%;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: rgba(6, 173, 247, 0.32);
  border-radius: 70px;
}
.row:hover {
  background-color: #0591cf;
}
.cell {
  padding: 20px;
}

@media (max-width: 768px) {
  .tableContainer {
    padding: 15px;
    border-radius: 25px;
  }

  .cell {
    padding: 20px 8px;
    font-size: 13px;
  }
}
