.app {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 1);
}
.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backgroundImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.app-main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px;
  font-size: 20px;
  position: relative;
  z-index: 2;
}
